@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Rajdhani:600);

html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", Arimo;
}

h1 {
    text-align: center;
    /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    font-weight: normal;
    margin: 50px 0 0;
}

#prompt {
    display: none;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: white;
    z-index: 2000;
    text-align: center;
}

.progress-bar {
    position: absolute;
    border: #ccc solid 1px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 400px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    overflow: hidden;
    // margin: 50% auto 50%;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);
}

.progress-bar .bar {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.progress-bar .bar span {
    position: absolute;
    display: block;
    width: 400px;
    height: 100%;
    text-align: center;
}

.progress-bar .bar.positive {
    background: #d52424;
    left: 0;
    width: 0%;
    -webkit-animation: animate-positive 4s;
    animation: animate-positive 4s;
}

.progress-bar .bar.positive span {
    left: 0;
    color: #000;
}

.progress-bar .bar.negative {
    background: #000;
    right: 0;
    width: 0%;
    -webkit-animation: animate-negative 4s;
    animation: animate-negative 4s;
}

.progress-bar .bar.negative span {
    right: 0;
    color: #d52424;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@-webkit-keyframes animate-negative {
    0% {
        width: 100%;
    }
}

@keyframes animate-negative {
    0% {
        width: 100%;
    }
}

#preloadBlocker {
    position: relative;
    top: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #333;
}

h2 {
    margin: 0;
}

.inline {
    display: inline-block;
}
