p {
    margin: 0;
}

#canvas1 {
    position: absolute;
    z-index: 100;
    right: 10%;
    bottom: 10%;
    opacity: .6;
}

.banner {
    position: absolute;
    height: 20px;
    background-color: #fff;
    width: 160px;
    bottom: calc(10% + 70px);
    z-index: 101;
    opacity: .5;
}

#b1 {
    right: 10%;
}

#stats {
    z-index: 10000;
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    font-size: 24px;
}

#stats2 {
    z-index: 10000;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    font-size: 24px;
}
