p {
    margin: 0;
}

#speed {
    float: left;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
}
#canvas1 {
    position: absolute;
    z-index: 100;
    right: 10%;
    bottom: 10%;
    opacity: .6;
}

.banner {
    position: absolute;
    height: 20px;
    background-color: #fff;
    width: 160px;
    bottom: calc(10% + 70px);
    z-index: 101;
    opacity: .5;
}

#b1 {
    right: 10%;
}

#gps {
    display: inline;
    height: 20px;
    float: right;
}

#gps img {
    height: 20px;
}

#distance {
    display: inline;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}
