p {
    margin: 0;
}

#canvas1 {
    position: absolute;
    z-index: 100;
    right: 10%;
    bottom: 20%;
    opacity: .6;
}

.banner {
    position: absolute;
    height: 20px;
    background-color: blue;
    width: 120px;
    bottom: calc(20% + 50px);
    z-index: 101;
    opacity: .5;
}

#b1 {
    right: 10%;
    display: none;
}
