p {
    margin: 0;
}

#canvas1 {
    position: absolute;
    z-index: 100;
    right: 6%;
    bottom: 25%;
    opacity: .6;
    z-index: 400;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

#copy {
    position: absolute;
    z-index: 100;
    right: 56%;
    bottom: 25%;
    opacity: .6;
    z-index: 400;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

#b1 {
    right: 6%;
}

#b2 {
    right: 56%;
}

#speedMod {
    z-index: 1000;
    padding-right: 2px;
    float: right;
    line-height: 14px;
    height: 14px;
}

.vignette {
    width: 50%;
    height: 100%;
    z-index: 200;
}

#vign1 {
    position: absolute;
    top: 0;
    left: 0;
}

#vign2 {
    position: absolute;
    top: 0;
    left: 50%;
}

.vignette img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner {
    position: absolute;
    height: 14px;
    width: 100px;
    bottom: calc(25% + 46px);
    z-index: 500;
    color: #fff;
    font-size: 8px;
    font-weight: 500;
}

.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #282828;
    opacity: .5;
    z-index: -1;
}

#gps {
    z-index: 1000;
    padding-left: 2px;
    display: inline;
    height: 16px;
    float: left;
    line-height: 16px;
}

#gps img {
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 12px;
    vertical-align: middle;
}


/* ----------------------- TOOLTIP --------------------- */

.tooltip {
    text-align: center;
    height: 100px;
    width: 120px;
    position: absolute;
    z-index: 20000;
}

.tooltipText {
    font-family: 'Rajdhani';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    font-size: 8px;
    bottom: 6px;
    width: 145px;
    left: 0;
    color: #ffffff;
    display: none;
}

.tooltipDot {
    display: none;
    position: absolute;
    bottom: 3px;
    right: calc(8% + 50px);
    background: #0000ff;
}

.pulse {
    width: 10px;
    height: 10px;
    border: 5px solid rgba(0, 180, 255, 1);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgba(0, 180, 255, .5);
    z-index: 10;
    position: absolute;
}

.dot {
    border: 10px solid rgba(0, 180, 255, 1);
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 2s ease-out;
    -moz-animation: pulse 2s ease-out;
    animation: pulse 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 1;
    opacity: 0;
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes "pulse" {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}


/* ---------- hud tooltip ---------- */

#hudTooltip {
    bottom: calc(25% + 80px);
    right: 6%;
}

#hudTooltipC {
    bottom: calc(25% + 80px);
    right: 56%;
}
